:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-ffffff: #ffffff;
  --color-000000: #000000;
  --color-ed464d: #ed464d;
  /* border color */
  --color-ced4da: #ced4da;
}

.green {
  color: var(--color-47ad24);
  font-weight: bold;
}

.red {
  color: var(--color-e52e2e);
  font-weight: bold;
}

Table {
  color: blue;
}

.quill {
  background-color: #ffffff;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-ced4da);
}

.title {
  font: 28px;
  font-family: Roboto !important;
}
